<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> WebSSH </title>
  <link href="static/img/favicon.png" rel="icon" type="image/png">
  <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/fullscreen.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/output.css" rel="stylesheet">
  <script defer src="static/js/alphinejs.3.10.3.min.js"></script>
</head>

<body x-data="{ openPanel: false }">
  <div class="relative">
    <div class="fixed top-0 left-0 right-0 z-50 ">
      <div class="absolute top-0 right-0 mr-1 mt-1" id="buttonBar">
        <button @click="openPanel = ! openPanel; $dispatch('fetch-serverscripts')" type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Icon description</span>
        </button>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div x-show="openPanel" class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->

      <div class="fixed inset-0"></div>

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
            <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
            <div class="pointer-events-auto w-72 max-w-md">
              <div class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl">
                <div class="flex min-h-0 flex-1 flex-col overflow-y-scroll py-6">
                  <div class="px-4 sm:px-6">
                    <div class="flex items-start justify-between">
                      <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Panel title</h2>
                      <div class="ml-3 flex h-7 items-center">

                      </div>
                    </div>
                  </div>
                  <div class="relative mt-6 flex-1 px-4 sm:px-6">
                    <!-- Replace with your content -->

                    <div x-data="serverScripts()" @fetch-serverscripts.window="fetch();"
                      class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-4">
                      <template x-for="script in scripts" :key="`s-${script.label}`">
                        <div>
                          <button x-data="{
                      confirmAction : false,
                      buttonText : script.label,
                      confirm(){
                          if(this.confirmAction == true){
                              alert('fire action');
                          }
                          this.confirmAction = true;
                          this.buttonText = 'Confirm Execute?'
                      },
                      cancelConfirm(){
                          this.confirmAction = false;
                          this.buttonText = script.label
                      }
                  }" type="button"
                            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                            @click="confirm"
                            :class="confirmAction && 'bg-red-100 text-red-600 hover:bg-red-200 focus:ring-red-500'">
                            <span x-text="buttonText"></span>
                            <template x-if="confirmAction">
                              <svg @click.stop="cancelConfirm" xmlns="http://www.w3.org/2000/svg"
                                class="h-7 w-7 ml-1 hover:bg-red-300" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            </template>
                          </button>
                        </div>
                      </template>
                    </div>
                    <!-- /End replace -->
                  </div>
                </div>
                <div class="flex flex-shrink-0 justify-end px-4 py-4">
                  <button @click="openPanel = ! openPanel" type="button"
                    class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.data('serverScripts', () => ({
          scripts: [{ label: 'dev.SyncIp11' }, { label: 'dev.DelIp11' }, { label: 'dev.SyncScript11' }],
          fetch() {
            this.scripts = [{ label: 'dev.SyncIp' }, { label: 'dev.DelIp' }]
          }
        }))
      });
    </script>

    <div id="waiter" style="display: none"> Connecting ... </div>
    <div class="container form-container max-w-7xl mx-auto sm:px-6 lg:px-8" style="display: none">
      <form id="connect" class="space-y-8 divide-y divide-gray-200" action="" method="post"
        enctype="multipart/form-data" {% if debug %} novalidate{% end %}>
        <div class="space-y-8 divide-y divide-gray-200">
          <div>
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">Profile</h3>
              <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you
                share.</p>
            </div>

            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

              <div class="sm:col-span-3">
                <label for="Hostname" class="block text-sm font-medium text-gray-700">My Hostname</label>
                <div class="mt-1">
                  <input
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    type="text" id="hostname" name="hostname" value="" required>
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="Port" class="block text-sm font-medium text-gray-700">Port</label>
                <div class="mt-1">
                  <input
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    type="number" id="port" name="port" placeholder="22" value="" min=1 max=65535>
                </div>
              </div>


              <div class="sm:col-span-3">
                <label for="Username" class="block text-sm font-medium text-gray-700">Username</label>
                <div class="mt-1">
                  <input
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    type="text" id="username" name="username" value="" required>
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="Password" class="block text-sm font-medium text-gray-700">Password</label>
                <div class="mt-1">
                  <input
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    type="password" id="password" name="password" value="">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="Username" class="block text-sm font-medium text-gray-700">Private Key</label>
                <div class="mt-1">
                  <input
                    class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    type="file" id="privatekey" name="privatekey" value="">
                </div>

              </div>
              <div class="sm:col-span-3">
                <label for="Passphrase" class="block text-sm font-medium text-gray-700">Passphrase</label>
                <div class="mt-1">
                  <input
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    type="password" id="passphrase" name="passphrase" value="">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="totp" class="block text-sm font-medium text-gray-700">Totp (time-based one-time
                  password)</label>
                <input
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                  type="password" id="totp" name="totp" value="">
              </div>
              <div class="sm:col-span-3">
              </div>
              <input type="hidden" id="term" name="term" value="xterm-256color">
              {% module xsrf_form_html() %}
              <button type="submit"
                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Connect</button>
              <button type="reset"
                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>


    <div class="container z-0">
      <div id="status" style="color: red;"></div>
      <div id="terminal"></div>
    </div>
  </div>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/xterm.min.js"></script>
  <script src="static/js/xterm-addon-fit.min.js"></script>
  <script src="static/js/main.js"></script>
</body>

</html>